Stopwatch {
    /* layout : horizontal; */
    background: $boost;
    layout: horizontal;
    min-width: 50;
    max-width: 100;
    padding: 1;
    border: round none;
}

.started {
    dock: left;
    height: 3;
}

#reset {

    dock: right;
    height: 3;
}

#time_display {
 
    height: 3;
    width: 20;
    content-align: center middle;
    opacity: 60%;
}
